/* Importação das Fonts (Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@500&family=Montserrat:wght@500&family=Teko:wght@600&display=swap');

/* Estilos gerais (Todo o projeto) */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* Define o modelo da caixa para incluir padding e borda no tamanho total do elemento */
}

body {
    background: #1F1517;
    color: #FFF;
}

html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none; /* Remove a decoração de texto, como sublinhado */
}

ul {
    list-style-type: none; /* Remove os marcadores de lista (bolinhas) */
}

/* Sessão principal (Main) */

main {
    display: flex; /* Define o elemento como um container flexível */
    flex-direction: column; /* Direção dos elementos filhos em coluna */
}

.container {
    background: #181012;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

/* Animação para entrada da direita para a esquerda */
.container.slide-from-right {
    transform: translateX(0);
    opacity: 1;
}

.info {
    max-width: 1120px; /* Largura máxima de 1120px */
    height: 60vh; /* Altura de 60% da altura da janela */
    visualization: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Distribui os elementos igualmente */
    gap: 6rem; /* Espaçamento entre os elementos */
    padding: 1rem;
    align-items: center; /* Centraliza verticalmente */
    margin: auto; /* Centraliza horizontalmente */
    overflow: clip; /* Oculta conteúdo que ultrapassa */
}

/* Destaque */

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.news {
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

/* Usado na palavra (Novidades) no main */
.marrom {
    color: #A45A49;
}

/* Usado na palavra (Em alta) em receitas */
.amarelo {
    color: #E7A80E;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-weight: 800;
    color: #FFF;
}

/* Linha marrom abaixo do título principal */
hr {
    border-color: #A45A49;
}

/* Texto abaixo do título principal */
.subtitle {
    color: #C7BAB3;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 28px;
}

/* Galeria de fotos (Mosaico) */
.images {
    max-width: 45%;
    column-count: 4; /* Divide o conteúdo em 4 colunas */
    column-gap: 1rem; /* Espaçamento entre colunas */
    margin: -1rem; /* Margem negativa */
}

.images > figure > img {
    width: 100%;
    border-radius: 0.5rem;
}

/* Botão */

.button {
    width: 100%;
    max-width: 1120px;
    padding: 1rem;
    margin: auto;
    transform: translateX(-50%);
}

button {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #A45A49;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #783F37;
}

/* Responsividade (Telas menores que 768px) */
@media screen and (max-width: 768px) {

    .container {
        padding-top: 30px;
        padding-bottom: 80px;
    }

    .images {
        column-count: 1; /* Exibe apenas 1 coluna */
        column-gap: 0.5rem;
    }

    .receitas {
        padding-top: 0px;
    }

    .button {
        padding-bottom: 0px;
    }
}
