/* Importação das Fonts Google Fonts) 
*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@600&family=Montserrat:wght@800&family=Teko:wght@600&display=swap');

/* Estilos gerais (Todo o projeto) */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* Define o modelo de caixa para incluir padding e borda no tamanho total do elemento */
}

body {
    background: #1F1517;
    color: #FFFF;
}

html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none; /* Remove a decoração de texto, como sublinhado, do elemento */
}

ul {
    list-style-type: none; /* Remove os marcadores de lista (bolinhas) de um elemento de lista */
}

/* _____________________________________________________ */
/* Header */

nav {
    max-width: 1120px; /* Define a largura máxima do elemento em 1120 pixels */
    margin: auto; /* Centraliza o elemento horizontalmente na tela */

    padding: 1.5rem 10rem; 
    /* 1.5rem: Isso define o preenchimento vertical (topo e base) do elemento como 1.5 vezes o tamanho da fonte do elemento raiz. Se a fonte do elemento raiz for 16 pixels, isso resultaria em um preenchimento vertical de 24 pixels.

    10rem: Isso define o preenchimento horizontal (esquerda e direita) do elemento como 10 vezes o tamanho da fonte do elemento raiz. Com uma fonte do elemento raiz de 16 pixels, isso resultaria em um preenchimento horizontal de 160 pixels. */

    display: flex; /* Define o elemento como um container flexível */
    flex-direction: row; /* Define a direção dos elementos filhos como uma linha */
    justify-content: space-between; /* Distribui os elementos filhos uniformemente ao longo do eixo principal, com espaçamento entre eles */
    
}

.title {
    font-family: 'Teko', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase; /* Transforma o texto para letras maiúsculas */
}
q
/* Estilos para o menu hamburguer */
.menu-toggle {
    display: none; /* Não exibe em telas grandes */
    cursor: pointer;
}

.menu-icon img {
    width: 30px;   /* diminui aqui */
    height: auto;
}

/* Imagem do Hamburguer (Responsividade) */

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
  }

.menu {
    display: flex; /* Define o elemento como um container flexível */
    flex-direction: row; /* Estabelece a direção dos elementos filhos para uma disposição em linha */
    gap: 24px; /* Define o espaçamento entre os elementos filhos como 24 pixels */
    color: #FFF2E780; /* Define a cor do texto para um tom específico de amarelo */
    margin-top: 9px; /* Adiciona um espaçamento de margem superior de 9 pixels ao elemento */
    margin-left: 25px;
    margin-right: 25px;
    
}

.menu a:hover {
    color: #fff; /* Nova cor do texto quando o cursor passa por cima */
}

.menu a:visited {
    color: #FFF2E780; /* Define a cor dos links visitados como #FFF2E780 */
}

.github {
    color:#FFF2E7;
    font-weight: 600;
    margin-top: 8px; /* Adiciona um espaçamento de margem superior de 8 pixels ao elemento */
}

.github:hover {
    color: #a45a49; /* Nova cor do texto quando o cursor passa por cima */
}



/* _____________________________________________________ */
/* Responsividade (Telas menores que 768px) */

@media screen and (max-width: 768px) {

    /* Header */
    nav ul {
     }
   position: absolute
      top: 70px;
      left: 0;
      background: #333;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
      z-index: 9;
    }
    nav ul li {
      display: block;
      margin:auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .menu {
        margin-left: 0px;
    }
 
    .menu-icon {
      display: block;
      cursor: pointer;
      margin-right: -70px;
    }
    .github {
      margin-left: 70px;
      margin-right: 70px;
    }
    .title {
      margin-left: -100px;
    }

    /* Importação das Fonts (Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@500&family=Montserrat:wght@500&family=Teko:wght@600&display=swap');

/* Estilos gerais (Todo o projeto) */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* Define o modelo da caixa para incluir padding e borda no tamanho total do elemento */
}

body {
    background: #1F1517;
    color: #FFF;
}

html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none; /* Remove a decoração de texto, como sublinhado */
}

ul {
    list-style-type: none; /* Remove os marcadores de lista (bolinhas) */
}

/* Sessão principal (Main) */

main {
    display: flex; /* Define o elemento como um container flexível */
    flex-direction: column; /* Direção dos elementos filhos em coluna */
}

.container {
    background: #181012;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

/* Animação para entrada da direita para a esquerda */
.container.slide-from-right {
    transform: translateX(0);
    opacity: 1;
}

.info {
    max-width: 1120px; /* Largura máxima de 1120px */
    height: 60vh; /* Altura de 60% da altura da janela */
    visualization: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Distribui os elementos igualmente */
    gap: 6rem; /* Espaçamento entre os elementos */
    padding: 1rem;
    align-items: center; /* Centraliza verticalmente */
    margin: auto; /* Centraliza horizontalmente */
    overflow: clip; /* Oculta conteúdo que ultrapassa */
}

/* Destaque */

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.news {
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

/* Usado na palavra (Novidades) no main */
.marrom {
    color: #A45A49;
}

/* Usado na palavra (Em alta) em receitas */
.amarelo {
    color: #E7A80E;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-weight: 800;
    color: #FFF;
}

/* Linha marrom abaixo do título principal */
hr {
    border-color: #A45A49;
}

/* Texto abaixo do título principal */
.subtitle {
    color: #C7BAB3;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 28px;
}

/* Galeria de fotos (Mosaico) */
.images {
    max-width: 45%;
    column-count: 4; /* Divide o conteúdo em 4 colunas */
    column-gap: 1rem; /* Espaçamento entre colunas */
    margin: -1rem; /* Margem negativa */
}

.images > figure > img {
    width: 100%;
    border-radius: 0.5rem;
}

/* Botão */

.button {
    width: 100%;
    max-width: 1120px;
    padding: 1rem;
    margin: auto;
    transform: translateX(-50%);
}

button {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #A45A49;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #783F37;
}

/* Responsividade (Telas menores que 768px) */
@media screen and (max-width: 768px) {

    .container {
        padding-top: 30px;
        padding-bottom: 80px;
    }

    .images {
        column-count: 1; /* Exibe apenas 1 coluna */
        column-gap: 0.5rem;
    }

    .receitas {
        padding-top: 0px;
    }

    .button {
        padding-bottom: 0px;
    }
}


